@import url('reset.css');

/* General Demo Style */
body{
	background: #000;
	color: rgba(255,255,255,0.8);
	font-family: 'Bitter','Myriad Pro', 'Raleway', sans-serif;
	font-size: 15px;
}
a{
	color: #fff;
	text-decoration: none;
}
.clr{
	clear: both;
}
h1{
	font-size: 40px;
	position:relative;
	font-weight: 400;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.2);
    padding: 30px 30px 15px 30px;
	margin: 0px 40px 20px 40px;
    text-align: center;
}
h1 span{

}
.content{
	width: 550px;
	padding: 25px;
	margin: 0 auto;
}
.content p{
	text-shadow: 0px 1px 1px rgba(0,0,0,0.2);
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	padding: 10px;
}
/* Header Style */
.header{
	font-family:'Raleway', 'Bitter', sans-serif;
	line-height: 24px;
	font-size: 11px;
	background: #000;
	opacity: 0.9;
	text-transform: uppercase;
	z-index: 9999;
	position: relative;
	-moz-box-shadow: 1px 0px 2px #000;
	-webkit-box-shadow: 1px 0px 2px #000;
	box-shadow: 1px 0px 2px #000;
}
.header a{
	padding: 0px 10px;
	letter-spacing: 1px;
	color: #ddd;
	display: block;
	float: left;
}
.header a:hover{
	color: #fff;
}
.header span.right{
	float: right;
}
.header span.right a{
	float: none;
	display: inline;
}
p.demos{
    position:relative;
    z-index: 1000;
    text-align:center;
}
p.demos a{
    display: inline-block;
	padding: 2px 4px;
	background: #fff;
	color: #777;
	font-family:'Raleway', 'Bitter', sans-serif;
	text-transform: uppercase;
	font-size: 11px;
	box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
p.demos a:hover{
    color: #fff;
	background: #555;
}
p.demos a.current-demo,
p.demos a.current-demo:hover{
    font-weight: bold;
	background: #333;
	color: #fff;
}


.page {
  position: relative;
  background: #013220;
  width: 500px;
  height: 400px;
  margin-left: 5%;
  margin-top: 50px;
  z-index: 1;
  border-radius: 25px;
  font-size:100%;
  font-weight: bolder;
  line-height:150%;
  -webkit-box-shadow: -7px 12px 16px 0px rgba(50, 50, 50, 0.83);
  -moz-box-shadow:    -7px 12px 16px 0px rgba(50, 50, 50, 0.83);
  box-shadow:         -7px 12px 16px 0px rgba(50, 50, 50, 0.83);
}

/* Sticker */
.sticker {
  position: relative;
  width: 160px;
  height: 70px;
  float: left;
  font-size: 1.5em;
  font-weight: bold;
  margin: 30px 10px 10px -90px;
  background-color: #A4C639;
  color:black;
  border-radius: 0px 10px 250px / 0 200px 55px 250px;
  -webkit-box-shadow: -3px 5px 12px 0 rgba(0,0,0,0.3);
  -moz-box-shadow: -3px 5px 12px 0 rgba(0,0,0,0.3);
  box-shadow: -3px 5px 12px 0 rgba(0,0,0,0.3);
  
}

/* Text on the sticker*/
.text {
  text-align: center;
  display: block;
  padding: 20px 20px 20px 0;
  font-size: 80%;
  font-family: 'Shadows Into Light', cursive;
}

/* Shadow under sticker */
.sticker::before {
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  width: 90%;
  height: 20px;
  -webkit-box-shadow: 3px 17px 6px rgba(0,0,0,.3);
  -moz-box-shadow: 3px 17px 6px rgba(0,0,0,.3);
  box-shadow: 3px 17px 6px rgba(0,0,0,.3);
  bottom: 15px;
  right: 5px;
  -ms-transform: skew(-10deg,2deg);
  -webkit-transform: skew(-10deg,2deg);
  transform: skew(-10deg,2deg);
}

/* Curl */
.sticker::after {
  content: '';
  display: block;
  position: absolute;
  width: 0; 
  height: 0;
  right: 8px;
  bottom: 1px;
  border-top: 10px solid rgb(156, 166, 61); 
  border-right: 10px solid transparent;
  -webkit-transform: skew(-55deg,10deg);
  transform: skew(-55deg,10deg);
}

/*Portfolio*/
.view {
    width: 200px;
    height: 300px;
    margin: 10px;
    float: left;
    border: 10px solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
    background: #fff url(../images/bgimg.jpg) no-repeat center center
}
.view .mask, .view .content {
    width: 200px;
    height: 300px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}
.view img {
    display: block;
    position: relative
}
.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0
}
.view p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center
}
.view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000
}
.view a.info:hover {
    box-shadow: 0 0 5px #000
}
.view-eighth .mask { 
	background-color: rgba(255, 255, 255, 0.7);
	top: -200px;
	opacity: 0;
	transition: all 0.3s ease-out 0.5s;
}
.view-eighth h2{
    transform: translateY(-200px);
	transition: all 0.2s ease-in-out 0.1s;
}
.view-eighth p { 
    color: #333;
    transform: translateY(-200px);
	transition: all 0.2s ease-in-out 0.2s;
}
.view-eighth a.info { 
    transform: translateY(-200px);
	transition:  all 0.2s ease-in-out 0.3s;
} 

.view-eighth:hover .mask { 
	opacity: 1; 
	top: 0px; 
	transition-delay: 0s; 
    animation: bounceY 0.9s linear;
}																						
.view-eighth:hover h2 { 
    transform: translateY(0px);
	transition-delay: 0.4s;
}
.view-eighth:hover p { 
	transform: translateY(0px);
	transition-delay: 0.2s;
}
.view-eighth:hover a.info { 
    transform: translateY(0px);
	transition-delay: 0s;
}
@keyframes bounceY {
    0% { transform: translateY(-205px);}
    40% { transform: translateY(-100px);}
    65% { transform: translateY(-52px);}
    82% { transform: translateY(-25px);}
    92% { transform: translateY(-12px);}
    55%, 75%, 87%, 97%, 100% { transform: translateY(0px);}
}

/*End of portfolio*/

/*About section*/
